.build
.DS_Store
Carthage
xcuserdata
ShowLive.xcodeproj/xcuserdata
ShowLive.xcodeproj/project.xcworkspace/xcuserdata
*.framework.zip
DerivedData
*.dSYM
*.dSYM.zip
*.ipa
*.hmap
fastlane/report.xml
fastlane/screenshots
