<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string></string>
		<key>process</key>
		<array>
			<dict>
				<key>type</key>
				<integer>1</integer>
				<key>value</key>
				<string>1.lut</string>
			</dict>
			<dict>
				<key>type</key>
				<integer>0</integer>
				<key>value</key>
				<string>1.c</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>process</key>
		<array>
			<dict>
				<key>type</key>
				<integer>1</integer>
				<key>value</key>
				<string>3.lut</string>
			</dict>
			<dict>
				<key>type</key>
				<integer>0</integer>
				<key>value</key>
				<string>3.c</string>
			</dict>
			<dict>
				<key>type</key>
				<integer>2</integer>
				<key>value</key>
				<string>#edfbfc</string>
			</dict>
			<dict>
				<key>type</key>
				<integer>3</integer>
				<key>value</key>
				<string>#28252e</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>process</key>
		<array>
			<dict>
				<key>type</key>
				<integer>0</integer>
				<key>value</key>
				<string>4.c</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>process</key>
		<array>
			<dict>
				<key>type</key>
				<integer>0</integer>
				<key>value</key>
				<string>5.c</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>process</key>
		<array>
			<dict>
				<key>type</key>
				<integer>0</integer>
				<key>value</key>
				<string>6.c</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>process</key>
		<array>
			<dict>
				<key>type</key>
				<integer>1</integer>
				<key>value</key>
				<string>7.lut</string>
			</dict>
			<dict>
				<key>type</key>
				<integer>0</integer>
				<key>value</key>
				<string>7.c</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>process</key>
		<array>
			<dict>
				<key>type</key>
				<integer>0</integer>
				<key>value</key>
				<string>8.c</string>
			</dict>
			<dict>
				<key>type</key>
				<integer>1</integer>
				<key>value</key>
				<string>8.lut</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>process</key>
		<array>
			<dict>
				<key>type</key>
				<integer>1</integer>
				<key>value</key>
				<string>9.lut</string>
			</dict>
			<dict>
				<key>type</key>
				<integer>0</integer>
				<key>value</key>
				<string>9.c</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>process</key>
		<array>
			<dict>
				<key>type</key>
				<integer>0</integer>
				<key>value</key>
				<string>10.c</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>process</key>
		<array>
			<dict>
				<key>type</key>
				<integer>1</integer>
				<key>value</key>
				<string>11.lut</string>
			</dict>
			<dict>
				<key>type</key>
				<integer>2</integer>
				<key>value</key>
				<string>#f2dec6</string>
			</dict>
			<dict>
				<key>type</key>
				<integer>0</integer>
				<key>value</key>
				<string>11.c</string>
			</dict>
			<dict>
				<key>type</key>
				<integer>3</integer>
				<key>value</key>
				<string>#341220</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>process</key>
		<array>
			<dict>
				<key>type</key>
				<integer>1</integer>
				<key>value</key>
				<string>12.lut</string>
			</dict>
			<dict>
				<key>type</key>
				<integer>2</integer>
				<key>value</key>
				<string>#f8e8db</string>
			</dict>
			<dict>
				<key>type</key>
				<integer>0</integer>
				<key>value</key>
				<string>12.c</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>process</key>
		<array>
			<dict>
				<key>type</key>
				<integer>1</integer>
				<key>value</key>
				<string>13.lut</string>
			</dict>
			<dict>
				<key>type</key>
				<integer>0</integer>
				<key>value</key>
				<string>13.c</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>process</key>
		<array>
			<dict>
				<key>type</key>
				<integer>1</integer>
				<key>value</key>
				<string>14.lut</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
