# OSX
*.DS_Store

.build
.DS_Store
Carthage
xcuserdata
ShowLive.xcodeproj/xcuserdata
ShowLive.xcodeproj/project.xcworkspace/xcuserdata
*.framework.zip
DerivedData
*.dSYM
*.dSYM.zip
*.ipa
*.hmap
fastlane/report.xml
fastlane/screenshots

### CocoaPods ###
## CocoaPods GitIgnore Template

# CocoaPods - Only use to conserve bandwidth / Save time on Pushing
#           - Also handy if you have a large number of dependant pods
#           - AS PER https://guides.cocoapods.org/using/using-cocoapods.html NEVER IGNORE THE LOCK FILE
Pods/


### Carthage ###
# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build
